@{
    ViewBag.Title = "Home Page";
}




<div class="row">
  
    <div class="col-md-12">
        <p>

            <h2>Trayectoria histórica</h2>
            <h3>MISION</h3>
        <p>
            <ins>MEDICENTER</ins> es una empresa puesta al servicio de la industria farmacéutica. Somos un Laboratorio de Apoyo que ofrece una solución integral a las necesidades de desarrollo y registro de productos para su posterior comercialización en mercados tanto Nacionales como Internacionales, brindando soluciones tecnológicas y creatividad a los productos de interés de nuestros clientes.
                Nuestra misión es brindar soluciones sólidas y confiables a la medida de las necesidades de nuestro cliente.
</p>
        <h3>VISION</h3>
        <p>
            En <ins>MEDICENTER</ins> buscamos el crecimiento constante, persiguiendo ampliar oportunidades de desarrollo profesional y personal de quienes la componen.
            Nuestra formación innovadora y nuestra pasión por lo que hacemos, nos motiva a seguir creciendo y aprendiendo incluso de nuestros mismos clientes.
        </p>
        </p>

    </div>
</div>